<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Project</title>
    <!-- inject:vendor:css -->
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/app.css">
    <!-- endinject -->
  </head>
  <body ng-controller="AppController">
    <instructions ng-if="active === 'instructions'"></instructions>
    <project-form ng-if="active === 'form'"></project-form>
    <div ng-if="active === 'finished'">
        Thanks for playing!
    </div>
    <!-- inject:vendor:js -->
    <script src="/angular/angular.js"></script>
    <script src="/lodash/dist/lodash.min.js"></script>
    <script src="/angular-audio/app/angular.audio.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="/app.js"></script>
    <script src="/assets/data/maleData.js"></script>
    <script src="/assets/data/femaleData.js"></script>
    <script src="/instructions/instructions.js"></script>
    <script src="/assets/projectInfo.js"></script>
    <script src="/form/form.js"></script>
    <script src="/replication-project-templates.js"></script>
    <!-- endinject -->
  </body>
</html>
