body {
  font-family: Palatino Linotype, Bookman Antiqua, Palatino, serif;
  font-size: 14px;
  line-height: 20px;
  color: #666;
  background: #fcfcfc;
}

input,
textarea,
button {
  font: inherit;
}

h1 {
  padding: 20px 0;
  font-weight: bold;
  font-size: 20px;
}
